extends layout

block content
  div.drops
    h1 Duedrops
    if !user
      p You'll have to 
        a(href="/signup") sign up 
        | or 
        a(href="/login") log in 
        | to save your duedrops.
      script.
        window.no_user = true
    form#drop-form(action='/drop', method='post')
      div.row
        div#first-drop.span8.offset2
          input#new-box(type='checkbox')
          input#new-drop.drop(name="new-drop", placeholder='What do you need to do?', autofocus)
          button#add-drop
      if user
        div#duedrops
        -each drop in drops
          div.row(id='#{drop._id}')
            div.span8.offset2
              input(type='checkbox')
              input.saved-drop.drop(value="#{drop.text}")
              button.close.close-drop(type="button") &times;
            div.update.span1
              div.btn-group
                button.btn.revert Undo
                button.btn.commit.btn-inverse Update
            div.remove.span2
              div.btn-group
                button.delete.btn.btn-danger Delete?
                button.second-thoughts.btn.btn-info On second thought...